*{
  margin: 0;
  padding:0;

}
body{
  background-color:blue;

}
.container{
  background-color: white;
  margin-left:700px;
  margin-top:9px;
  border-radius:3em;
  width:400px;
  height:500px;
  color:black;
  margin-right:10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:14px;
  text-align: center;
}

.photo{
  margin-top: 200px;
  margin-left:100px;
  align-items:center;
  border:3em;
  border-radius:3em;
  width:40px;
  height:40px;
}
.butn-edit{
margin-top:2px;
padding:1em;
border:none;
}
  
 